<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox {{ scrollMax < 500 }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true"  (ionScroll)="scrollChanged($event)">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list bosScrollIndicator  [showScrollIndicator]="(scrollMax < 500)">
    <app-message *ngFor="let message of getMessages()" [message]="message"></app-message>
  </ion-list>
</ion-content>